@model AdvertUpdateViewModel

<div class="container">
    <h1 class="display-6 mt-2">Düzenle</h1>
    <hr />

    <form asp-area=""
          asp-controller="Advert"
          asp-action="Edit"
          method="post"
          enctype="multipart/form-data">
        <div class="row">
            <div class="col-6 d-flex  align-items-center mb-4">
                <div class="form-outline flex-fill mb-0">
                    <input class="form-control" asp-for="Price">
                    <label class="form-label" asp-for="Price"></label>
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
            </div>

            <div class="col-6 d-flex  align-items-center mb-4">
                <div class="form-outline flex-fill mb-0">
                    <input class="form-control" asp-for="Description">
                    <label class="form-label" asp-for="Description"></label>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" class="btn btn-primary btn-lg">Değişikliği Kaydet</button>
        </div>

    </form>
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}