@model UserManageViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <title>
        Material Dashboard 2 by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="~/assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
</head>

<body class="">
   
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">

                        <div class="flex-column ms-auto me-auto ms-lg-auto me-lg-5 pt-5">
                            <div class="card card-plain">
                                <div class="card-header">
                                    <h4 class="font-weight-bolder"> Profilim</h4>
                                </div>
                                <div class="card-body">
                                    <form asp-area="" asp-controller="Account" asp-action="Manage" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="Id" value="@Model.Id" />

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-3">
                                                    <label asp-for="FirstName"></label>
                                                    <input class="form-control" asp-for="FirstName">
                                                    <span class="text-danger" asp-validation-for="FirstName"></span>
                                                </div>
                                                <div class="input-group input-group-static mb-3">
                                                    <label asp-for="LastName"></label>
                                                    <input class="form-control" asp-for="LastName">
                                                    <span class="text-danger" asp-validation-for="LastName"></span>
                                                </div>

                                                <div class="input-group input-group-static mb-3">
                                                    <label asp-for="DateOfBirth"></label>
                                                    <input class="form-control" asp-for="DateOfBirth" type="">
                                                    <span class="text-danger" asp-validation-for="DateOfBirth"></span>
                                                </div>

                                            </div>
                                            <div class="col-6">
                                                <div class="input-group input-group-static mb-3">
                                                    <label asp-for="City"></label>
                                                    <input class="form-control" asp-for="City">
                                                    <span class="text-danger" asp-validation-for="City"></span>
                                                </div>
                                                <div class="input-group input-group-static mb-3">
                                                    <label asp-for="UserName"></label>
                                                    <input class="form-control" asp-for="UserName">
                                                    <span class="text-danger" asp-validation-for="UserName"></span>
                                                </div>
                                                <div class="input-group input-group-static mb-3">
                                                    <label asp-for="Email"></label>
                                                    <input class="form-control" asp-for="Email">
                                                    <span class="text-danger" asp-validation-for="Email"></span>
                                                </div>
                                                <div class="col-6 mb-3 p-0" >
                                                    <label class="form-label" asp-for="Gender"></label>
                                                    <select asp-for="Gender" asp-items="@Model.GenderSelectList" class="form-select">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Değişiklikleri Kaydet</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--   Core JS Files   -->
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }</script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/material-dashboard.min.js?v=3.0.0"></script>
</body>

</html>
