
<footer class=" py-4 border-top border-scondary text-center fixed-bottom" style="background-color:#000000CC" ">
    <p class="mb-0 small text-white">
        &copy;
        <script>document.write(new Date().getFullYear())</script>, LeadMark Created By <a href="https://www.devcrud.com" target="_blank">DevCrud.</a>  All rights reserved
    </p>
</footer>
