<div class="row " style="height: 100px; background-color:#000000CC">

</div>
<!-- About Section -->
<section class="section" id="about">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                <h6 class="section-title mb-0">Şirketimiz Hakkında</h6>
                @*<h6 class="section-subtitle mb-4"></h6>*@
                <p>Profilleri özgürce inceleyin ve kriterlerinize uyan mükemmel öğretmeninizle iletişime geçin (fiyatlar, diplomalar, evde veya online ders)  </p>
                <img src="~/images/about.jpg" alt="" class="w-100 mt-3 shadow-sm">
            </div>
            <div class="col-md-6 pl-md-5">
                <div class="row">
                    <div class="col-6">
                        <img src="~/images/about-1.jpg" alt="" class="w-100 shadow-sm">
                    </div>
                    <div class="col-6">
                        <img src="~/images/about-2.jpg" alt="" class="w-100 shadow-sm">
                    </div>
                    <div class="col-12 mt-4">
                        <p>Şimşek gibi hızlı öğretmenler size birkaç saat içerisinde cevap verir! İdeal öğretmeninizi bulamazsanız ekibimiz size yardımcı olur.</p>
                        <p>
                            <b>Öğretmeniniz veya eğitmeninizle mesajlaşma sisteminden konuşup derslerinizi özgürce planlayın.</b><br>
                        </p>
                        <p>Öğretmeniniz veya eğitmeninizle mesajlaşma sisteminden konuşup derslerinizi özgürce planlayın.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End OF About Section -->