<div class="row " style="height: 100px; background-color:#000000CC">

</div>
<section class="section pt-5">
    <div class="container" style="height:64vh">
        <h6 class="section-title text-center">KAYIT OL</h6>
        <h6 class="section-subtitle text-center mb-5 pb-3">Voluptates architecto provident deserunt.</h6>

        <div class="row text-center">
            <div class="col-md-6">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                        <small class="text-primary font-weight-bold">01</small>
                        <h5 class="card-title mt-3">
                            Beatae quo <h5>
                                <p class="mb-0">Lorem ipsum dolor sit amet, cquasi cupiditate voluptate debitis saepe dolorem totam dolor repudiandae quo nihil, repellendus nesciunt ab fuga quae, minima reprehenderit sequi fugit.</p>
                                <a asp-area=""
                                   asp-controller="Account"
                                   asp-action="StudentRegister"
                                   class="btn btn-outline-warning mt-3">Öğrenci Kayıt ol</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                        <small class="text-primary font-weight-bold">02</small>
                        <h5 class="card-title mt-3">
                            Delectus Suscipit<h5>
                                <p class="mb-0">Lorem ipsum dolor sit amet, cquasi cupiditate voluptate debitis saepe dolorem totam dolor repudiandae quo nihil, repellendus nesciunt ab fuga quae, minima reprehenderit sequi fugit.</p>

                                <a asp-area=""
                                   asp-controller="Account"
                                   asp-action="TeacherRegister"
                                   class="btn btn-outline-warning mt-3">Öğretmen kayıt ol</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>